# Project: Wrangling and Analyse data from Twitter - WeRateDogs


## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#gathering">Data Gathering</a></li>
<li><a href="#assessing">Assessing Data</a></li>
<li><a href="#cleaning">Cleaning Data</a></li>
<li><a href="#analysis">Analysing Data</a></li>
</ul>

<a id='intro'></a>
## Introduction

For this project, done under the Udacity's [Data Analyst Nanodegree](https://www.udacity.com/course/data-analyst-nanodegree--nd002) program, we are going to use Python and its libraries, to gather data from a variety of sources and in a variety of formats, assess its quality and tidiness, then clean it. Furthermore, we'll perform some data analysis and visualazations.

Details about data that will be used can be found [here](https://classroom.udacity.com/nanodegrees/nd002/parts/af503f34-9646-4795-a916-190ebc82cb4a/modules/14d9f5f1-9e7b-4bfb-97f3-bcdbf4a3699c/lessons/a8085857-3e28-4fc7-aeb8-da64ccbc2e20/concepts/5e3db54a-1a5f-41a6-8e20-fd99f201861d)

<a id='gathering'></a>
## Data Gathering

Data gathering process will result in three (3) following files:
* **twitter_archive_enhanced.csv**: this file has been provided by Udacity and can be manually downloaded from 'resources' section fo the project part of the course.  

* **image_predictions.tsv**: this file is hosted on Udacity's servers and is downloaded programmatically using the Requests library and [this](https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv) URL.  

* **tweet-json.txt**: this file can be accessed by querying the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data. As we are encounting some technical challenges to set up as developer account on Tweetet, we are going to use the version provided by the instructor which can be manually downloaded from the course's project page.

In [1]:
### Importing needed libraries
import pandas as pd
import numpy as np
import requests
import json
import matplotlib.pyplot as plt
%matplotlib inline

### 1. Reading archive data into a dataframe

In [2]:
### Reading the 'twitter-archive-enhanced.csv' file into a dataframe
tweet_archive = pd.read_csv('twitter-archive-enhanced.csv')
tweet_archive.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

### 2. Downloading image predictions data and loading it into a datframe

In [3]:
### Downloading 'image-predictions.tsv' file programatically 
url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
resp = requests.get(url)
with open('image-predictions.tsv', mode ='wb') as file:
    file.write(resp.content)

### Reading the file into dataframe
img_predictions = pd.read_csv('image-predictions.tsv', sep='\t' )
img_predictions.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

### 3. Reading Json data into a dataframe

In [4]:
### Extracting data of interest from 'tweet-json.txt' file

list_dict_interest_data = []

### Loading json data
with open('tweet-json.txt') as json_data:
    for line in json_data:
        data = json.loads(line)
        
### Adding needed data to the list        
        list_dict_interest_data.append({'tweet_id': data['id_str'],
                        'retweet_count': data['retweet_count'],
                        'favorite_count': data['favorite_count'],
                        'full_text': data['full_text'],
                        'display_text_range': data['display_text_range']
                       })

        
tweets_data = pd.DataFrame(list_dict_interest_data, columns = ['tweet_id', 'retweet_count', 'favorite_count', 
                                                               'full_text','display_text_range'])
tweets_data.head(3)

,tweet_id,retweet_count,favorite_count,full_text,display_text_range
0,892420643555336193,8853,39467,This is Phineas. He's a mystical boy. Only eve...,"[0, 85]"
1,892177421306343426,6514,33819,This is Tilly. She's just checking pup on you....,"[0, 138]"
2,891815181378084864,4328,25461,This is Archie. He is a rare Norwegian Pouncin...,"[0, 121]"

<a id='assessing'></a>
## Assessing Data

In this section we'll visually and programatically assess the data for quality and tidness. The result of this step will be a set of issues that need to be fixed in the cleaning step.

In [5]:
tweet_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [6]:
img_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [7]:
tweets_data

,tweet_id,retweet_count,favorite_count,full_text,display_text_range
0,892420643555336193,8853,39467,This is Phineas. He's a mystical boy. Only eve...,"[0, 85]"
1,892177421306343426,6514,33819,This is Tilly. She's just checking pup on you....,"[0, 138]"
2,891815181378084864,4328,25461,This is Archie. He is a rare Norwegian Pouncin...,"[0, 121]"
3,891689557279858688,8964,42908,This is Darla. She commenced a snooze mid meal...,"[0, 79]"
4,891327558926688256,9774,41048,This is Franklin. He would like you to stop ca...,"[0, 138]"
5,891087950875897856,3261,20562,Here we have a majestic great white breaching ...,"[0, 138]"
6,890971913173991426,2158,12041,Meet Jax. He enjoys ice cream so much he gets ...,"[0, 140]"
7,890729181411237888,16716,56848,When you watch your owner call another dog a g...,"[0, 118]"
8,890609185150312448,4429,28226,This is Zoey. She doesn't want to be one of th...,"[0, 122]"
9,890240255349198849,7711,32467,This is Cassie. She is a college pup. Studying...,"[0, 133]"
10,890006608113172480,7624,31166,This is Koda. He is a South Australian decksha...,"[0, 130]"
11,889880896479866881,5156,28268,This is Bruno. He is a service shark. Only get...,"[0, 107]"
12,889665388333682689,8538,38818,Here's a puppo that seems to be on the fence a...,"[0, 106]"
13,889638837579907072,4735,27672,This is Ted. He does his best. Sometimes that'...,"[0, 91]"
14,889531135344209921,2321,15359,This is Stuart. He's sporting his favorite fan...,"[0, 118]"
15,889278841981685760,5637,25652,This is Oliver. You're witnessing one of his m...,"[0, 138]"
16,888917238123831296,4709,29611,This is Jim. He found a fren. Taught him how t...,"[0, 86]"
17,888804989199671297,4559,26080,This is Zeke. He has a new stick. Very proud o...,"[0, 128]"
18,888554962724278272,3732,20290,This is Ralphus. He's powering up. Attempting ...,"[0, 87]"
19,888078434458587136,3653,22201,This is Gerald. He was just told he didn't get...,"[0, 127]"
20,887705289381826560,5609,30779,This is Jeffrey. He has a monopoly on the pool...,"[0, 127]"
21,887517139158093824,12082,46959,I've yet to rate a Venezuelan Hover Wiener. Th...,"[0, 108]"
22,887473957103951883,18781,69871,This is Canela. She attempted some fancy porch...,"[0, 99]"
23,887343217045368832,10737,34222,You may not have known you needed to see this ...,"[0, 88]"
24,887101392804085760,6167,31061,This... is a Jubilant Antarctic House Bear. We...,"[0, 129]"
25,886983233522544640,8084,35859,This is Maya. She's very shy. Rarely leaves he...,"[0, 101]"
26,886736880519319552,3443,12306,This is Mingus. He's a wonderful father to his...,"[0, 121]"
27,886680336477933568,4610,22798,This is Derek. He's late for a dog meeting. 13...,"[0, 71]"
28,886366144734445568,3316,21524,This is Roscoe. Another pupper fallen victim t...,"[0, 131]"
29,886267009285017600,4,117,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,"[27, 105]"
...,...,...,...,...,...
2324,666411507551481857,339,459,This is quite the dog. Gets really excited whe...,"[0, 140]"
2325,666407126856765440,44,113,This is a southern Vesuvius bumblegruff. Can d...,"[0, 139]"
2326,666396247373291520,92,172,Oh goodness. A super rare northeast Qdoba kang...,"[0, 137]"
2327,666373753744588802,100,194,Those are sunglasses and a jean jacket. 11/10 ...,"[0, 81]"
2328,666362758909284353,595,804,Unique dog here. Very small. Lives in containe...,"[0, 140]"
2329,666353288456101888,77,229,Here we have a mixed Asiago from the Gal√°pagos...,"[0, 135]"
2330,666345417576210432,146,307,Look at this jokester thinking seat belt laws ...,"[0, 112]"
2331,666337882303524864,96,204,This is an extremely rare horned Parthenon. No...,"[0, 139]"
2332,666293911632134144,368,522,This is a funny dog. Weird toes. Won't come do...,"[0, 138]"
2333,666287406224695296,71,152,This is an Albanian 3 1/2 legged Episcopalian...,"[0, 136]"
2334,666273097616637952,82,184,Can take selfies 11/10 https://t.co/ws2AMaNwPW,"[0, 46]"
2335,666268910803644416,37,108,Very concerned about fellow dog trapped in com...,"[0, 82]"
2336,666104133288665088,6871,14765,Not familiar with this breed. No tail (weird)....,"[0, 134]"
2337,666102155909144576,16,81,Oh my. Here you are seeing an Adobe Setter giv...,"[0, 128]"
2338,666099513787052032,73,164,Can stand on stump for what seems like a while...,"[0, 140]"
2339,666094000022159362,79,169,This appears to be a Mongolian Presbyterian mi...,"[0, 132]"
2340,666082916733198337,47,121,Here we have a well-established sunblockerspan...,"[0, 125]"
2341,666073100786774016,174,335,Let's hope this flight isn't Malaysian (lol). ...,"[0, 137]"
2342,666071193221509120,67,154,Here we have a northern speckled Rhododendron....,"[0, 137]"
2343,666063827256086533,232,496,This is the happiest dog you will ever see. Ve...,"[0, 107]"
2344,666058600524156928,61,115,Here is the Rand Paul of retrievers folks! He'...,"[0, 135]"
2345,666057090499244032,146,304,My oh my. This is a rare blond Canadian terrie...,"[0, 124]"
2346,666055525042405380,261,448,Here is a Siberian heavily armored polar bear ...,"[0, 140]"
2347,666051853826850816,879,1253,This is an odd dog. Hard on the outside but lo...,"[0, 138]"
2348,666050758794694657,60,136,This is a truly beautiful English Wilson Staff...,"[0, 140]"
2349,666049248165822465,41,111,Here we have a 1949 1st generation vulpix. Enj...,"[0, 120]"
2350,666044226329800704,147,311,This is a purebred Piers Morgan. Loves to Netf...,"[0, 137]"
2351,666033412701032449,47,128,Here is a very happy pup. Big fan of well-main...,"[0, 130]"
2352,666029285002620928,48,132,This is a western brown Mitsubishi terrier. Up...,"[0, 139]"
2353,666020888022790149,532,2535,Here we have a Japanese Irish Setter. Lost eye...,"[0, 131]"

In [8]:
tweet_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 5 columns):
tweet_id              2354 non-null object
retweet_count         2354 non-null int64
favorite_count        2354 non-null int64
full_text             2354 non-null object
display_text_range    2354 non-null object
dtypes: int64(2), object(3)
memory usage: 92.0+ KB

In [10]:
img_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [11]:
tweet_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [12]:
tweet_archive.source.head()

0    <a href="http://twitter.com/download/iphone" r...
1    <a href="http://twitter.com/download/iphone" r...
2    <a href="http://twitter.com/download/iphone" r...
3    <a href="http://twitter.com/download/iphone" r...
4    <a href="http://twitter.com/download/iphone" r...
Name: source, dtype: object

In [13]:
tweet_archive.name.value_counts().sort_index()

Abby             2
Ace              1
Acro             1
Adele            1
Aiden            1
Aja              1
Akumi            1
Al               1
Albert           2
Albus            2
Aldrick          1
Alejandro        1
Alexander        1
Alexanderson     1
Alf              1
Alfie            5
Alfy             1
Alice            2
Amber            1
Ambrose          1
Amy              1
Am√©lie           1
Anakin           2
Andru            1
Andy             1
Angel            1
Anna             1
Anthony          1
Antony           1
Apollo           1
                ..
Ziva             1
Zoe              1
Zoey             3
Zooey            1
Zuzu             1
a               55
actually         2
all              1
an               7
by               1
getting          2
his              1
incredibly       1
infuriating      1
just             4
life             1
light            1
mad              2
my               1
not              2
officially       1
old              1
one              4
quite            4
space            1
such             1
the              8
this             1
unacceptable     1
very             5
Name: name, Length: 957, dtype: int64

In [14]:
tweet_archive.tweet_id.nunique()

2356

In [15]:
tweet_archive[~tweet_archive.tweet_id.isin(tweets_data.tweet_id)].shape[0]

2

In [16]:
tweet_archive[~tweet_archive.tweet_id.isin(img_predictions.tweet_id)].shape[0]

281

In [17]:
tweets_data.tweet_id.nunique()

2354

In [18]:
img_predictions.tweet_id.nunique()

2075

#### Quality

`tweet_archive` table
* Has rows for tweets and for retweets
* Erroneous datatypes (assigned timestamp, in_reply_to_status_id, in_reply_to_user_id column)
* There is a row with the *rating_denominator* equal to zero
* The *source* column has trailing strings
* The *name* column has erroneous values (like a, an, this, etc), some names start with Capital letter while other start with small leter. This is inconsistancy problem
* Name variable has "None" values instead of NaN

`img_predictions` table
* There are fewer tweets IDs in `img_predictions` table than in `tweet_archive` table

`tweets_data` table
* There are fewer tweets IDs in `tweets_data` table than in `tweet_archive` table

#### Tidiness

* *retweeted_status_id*, *retweeted_status_user_id* and *retweeted_status_timestamp* columns are empty if all retweets are removed from `tweet_archive` table.
* One variable __'stage'__ scarttered into four columns *doggo*, *floofer*, *pupper* and *puppo*.
* Retweet counts and favorite counts should be part `tweet_archive` table.
* Breed of dogs computed based on predictions should be part of `tweet_archive_clean` table.
* retweet_counts and favorite_counts columns from `tweets_data` table should be part of `tweet_archive_clean` table.

<a id='cleaning'></a>
## Cleaning Data

In this section we'll be writting lines of codes to fix quality and tidiness issues found in the previous section, 'Assessing Data'.

In [19]:
### Making copies of current dataframes
tweet_archive_clean = tweet_archive.copy()
img_predictions_clean = img_predictions.copy()
tweets_data_clean = tweets_data.copy()

### Has rows for tweets and for retweets

#### *Define*

The `tweet_archive_clean` table has rows for both tweets and retweets. We are going to remove 'retweets' rows, thus getting rid of duplicates.  
This operation should also reduce the number of rows in `tweet_archive_clean` not found in `tweets_data_clean` and those in `img_predictions_clean`

#### *Code*

In [20]:
### Removing retweets rows
tweet_archive_clean = tweet_archive_clean[tweet_archive_clean.retweeted_status_id.isnull()]

#### *Test*

In [25]:
### There should be zero retweets
print('Number of retweets:', tweet_archive_clean[tweet_archive_clean.retweeted_status_id.isnull() == False].shape[0])

Number of retweets: 0

In [22]:
### Checking if there is any tweet in 'tweet_archive_clean' whithout correspondance in 'tweets_data_clean'
tweet_archive_clean[~tweet_archive_clean.tweet_id.isin(tweets_data_clean.tweet_id)].shape[0]

0

In [23]:
### Checking if there is any tweet in 'tweet_archive_clean' whithout correspondance in 'img_predictions_clean'
tweet_archive_clean[~tweet_archive_clean.tweet_id.isin(img_predictions_clean.tweet_id)].shape[0]

181

### Erroneous rating denominator values

#### *Define*

The `tweet_archive_clean` table has a row with the *rating_denominator* equal to zero. We need to remove this row so that we can compute ratings. Otherwise it will give us an 'inf' value for that row. Also by computing ratings and put them in a column in the dataframe, we'll be able to compare them base on same scale.

#### *Code*

In [24]:
### Removing row(s) with 0 as rating denominator
tweet_archive_clean = tweet_archive_clean[tweet_archive_clean.rating_denominator != 0]

### Computing ratings
tweet_archive_clean["ratings"] = tweet_archive_clean["rating_numerator"] / tweet_archive_clean["rating_denominator"]

#### *Test*

In [27]:
### There should be 'ratings' column with calculated values
tweet_archive_clean[["rating_numerator","rating_denominator", "ratings"]].sample(5)

      rating_numerator  rating_denominator  ratings
1725                 9                  10      0.9
1791                12                  10      1.2
1647                12                  10      1.2
1942                10                  10      1.0
1485                12                  10      1.2

In [28]:
### No 0s in'rating_denominator'
tweet_archive_clean[tweet_archive_clean.rating_denominator == 0][["rating_numerator","rating_denominator", "ratings"]]

Empty DataFrame
Columns: [rating_numerator, rating_denominator, ratings]
Index: []

### Erroneous datatypes 

#### *Define*

In the `tweet_archive_clean` table:
* change timestamp column's data type to datetime
* change in_reply_to_status_id column's data type to int
* change in_reply_to_user_id column's data type to int

#### *Code*

In [29]:
### Converting timestamp from string to datetime datatype
tweet_archive_clean.timestamp = pd.to_datetime(tweet_archive_clean.timestamp)

### Replacing null values with 0s in in_reply_to_status_id and in_reply_to_user_id columns
tweet_archive_clean.in_reply_to_status_id = tweet_archive_clean.in_reply_to_status_id.fillna(0)
tweet_archive_clean.in_reply_to_user_id = tweet_archive_clean.in_reply_to_user_id.fillna(0)

### Converting in_reply_to_status_id and in_reply_to_user_id from floats to int datatypes
tweet_archive_clean.in_reply_to_status_id = tweet_archive_clean.in_reply_to_status_id.astype(np.int64)
tweet_archive_clean.in_reply_to_user_id = tweet_archive_clean.in_reply_to_user_id.astype(np.int64)

#### *Test*

In [30]:
tweet_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2355
Data columns (total 18 columns):
tweet_id                      2174 non-null int64
in_reply_to_status_id         2174 non-null int64
in_reply_to_user_id           2174 non-null int64
timestamp                     2174 non-null datetime64[ns]
source                        2174 non-null object
text                          2174 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2117 non-null object
rating_numerator              2174 non-null int64
rating_denominator            2174 non-null int64
name                          2174 non-null object
doggo                         2174 non-null object
floofer                       2174 non-null object
pupper                        2174 non-null object
puppo                         2174 non-null object
ratings                       2174 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(9)
memory usage: 322.7+ KB

### The source column has trailing strings

#### *Define*

In the `tweet_archive_clean` table we need to remove tags surrounding the value in the source column

#### *Code*

In [32]:
### Updating 'source' column with clean values i.e. without trailing strings
tweet_archive_clean.source = tweet_archive_clean.source.str.replace(r'<(?:a\b[^>]*>|/a>)', '')

#### *Test*

In [34]:
### Displaying 'source' values and their respective number of occurences
tweet_archive_clean.source.value_counts()

Twitter for iPhone     2041
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

### Name variable has "None" values instead of NaN

#### *Define*

In the `tweet_archive_clean` table we need to set "None" to NaN values in the name column.

#### *Code*

In [35]:
### Replacing 'None' with a NaN
tweet_archive_clean['name'].replace('None', np.nan, inplace = True)

#### *Test*

In [36]:
### There should not be rows with 'None' value in 'name' column
tweet_archive_clean[['tweet_id','text', 'name']].query('name == "None"')

Empty DataFrame
Columns: [tweet_id, text, name]
Index: []

### The name column has erroneous values (like a, an, this, etc)

#### *Define*

In the `tweet_archive_clean` table, replace all names that seem to be mistakes by NaN.

#### *Code*

In [37]:
### Getting seemingly erroneous names. Most of them start with lower case letters
erroneous_names = []
for name in tweet_archive_clean['name']:
    try:
        if name[0].islower() and name not in erroneous_names:
            erroneous_names.append(name)
        if len(name) < 2 and name not in erroneous_names:
            erroneous_names.append(name)
    except:
        continue
print(erroneous_names)

### Replacing erroneous names with a NaN
tweet_archive_clean['name'].replace(erroneous_names, np.nan, inplace = True)

['such', 'a', 'quite', 'not', 'one', 'incredibly', 'O', 'very', 'my', 'his', 'an', 'actually', 'just', 'getting', 'mad', 'this', 'unacceptable', 'all', 'old', 'infuriating', 'the', 'by', 'officially', 'life', 'light', 'space']

#### *Test*

In [38]:
### All names start with upper case letter and 'None' is replaced by 'NaN'
tweet_archive_clean['name'].sort_values()

1035            Abby
1021            Abby
938              Ace
1933            Acro
1327           Adele
1934           Aiden
77               Aja
480            Akumi
820               Al
875           Albert
1954          Albert
144            Albus
412            Albus
1115         Aldrick
2046       Alejandro
374        Alexander
1189    Alexanderson
486              Alf
858            Alfie
1616           Alfie
367            Alfie
2238           Alfie
51              Alfy
201            Alice
1701           Alice
1495           Amber
1334         Ambrose
2078             Amy
2195          Am√©lie
780           Anakin
            ...
2326             NaN
2327             NaN
2328             NaN
2329             NaN
2330             NaN
2331             NaN
2332             NaN
2333             NaN
2334             NaN
2335             NaN
2336             NaN
2337             NaN
2338             NaN
2339             NaN
2340             NaN
2341             NaN
2342             NaN
2343             NaN
2344             NaN
2345             NaN
2346             NaN
2347             NaN
2348             NaN
2349             NaN
2350             NaN
2351             NaN
2352             NaN
2353             NaN
2354             NaN
2355             NaN
Name: name, Length: 2174, dtype: object

### Tidiness

#### *Define*

`retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp` columns are empty if all retweets are removed from `tweet_archive_clean` table. Therefore we need to drop them.

#### *Code*

In [39]:
### Retweets related columns are now empty, hence we need to remove them
tweet_archive_clean.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1, inplace=True)

#### *Test*

In [40]:
### Removed columns are gone
tweet_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2355
Data columns (total 15 columns):
tweet_id                 2174 non-null int64
in_reply_to_status_id    2174 non-null int64
in_reply_to_user_id      2174 non-null int64
timestamp                2174 non-null datetime64[ns]
source                   2174 non-null object
text                     2174 non-null object
expanded_urls            2117 non-null object
rating_numerator         2174 non-null int64
rating_denominator       2174 non-null int64
name                     1390 non-null object
doggo                    2174 non-null object
floofer                  2174 non-null object
pupper                   2174 non-null object
puppo                    2174 non-null object
ratings                  2174 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(8)
memory usage: 271.8+ KB

#### One variable 'stage' scarttered into four columns doggo, floofer, pupper and puppo.

#### *Define*

A dog cannot be of more than one stage. We retrieve rows with dog having more than one stage, then look at the correct stage and fixe it manually.

#### *Code*

In [41]:
### Retrieving rows with dog having more than one stage
df = tweet_archive_clean[['tweet_id','doggo', 'floofer', 'pupper', 'puppo','text']].query('\
(doggo != "None") and ((floofer != "None") or (pupper != "None") or (puppo != "None")) or\
(floofer != "None") and ((doggo != "None") or (pupper != "None") or (puppo != "None")) or\
(pupper != "None") and ((doggo != "None") or (floofer != "None") or (puppo != "None")) or\
(puppo != "None") and ((doggo != "None") or (floofer != "None") or (pupper != "None"))')
df

,tweet_id,doggo,floofer,pupper,puppo,text
191,855851453814013952,doggo,None,None,puppo,Here's a puppo participating in the #ScienceMa...
200,854010172552949760,doggo,floofer,None,None,"At first I thought this was a shy doggo, but i..."
460,817777686764523521,doggo,None,pupper,None,"This is Dido. She's playing the lead role in ""..."
531,808106460588765185,doggo,None,pupper,None,Here we have Burke (pupper) and Dexter (doggo)...
565,802265048156610565,doggo,None,pupper,None,"Like doggo, like pupper version 2. Both 11/10 ..."
575,801115127852503040,doggo,None,pupper,None,This is Bones. He's being haunted by another d...
705,785639753186217984,doggo,None,pupper,None,This is Pinot. He's a sophisticated doggo. You...
733,781308096455073793,doggo,None,pupper,None,"Pupper butt 1, Doggo 0. Both 12/10 https://t.c..."
889,759793422261743616,doggo,None,pupper,None,"Meet Maggie &amp; Lila. Maggie is the doggo, L..."
956,751583847268179968,doggo,None,pupper,None,Please stop sending it pictures that don't eve...
1063,741067306818797568,doggo,None,pupper,None,This is just downright precious af. 12/10 for ...
1113,733109485275860992,doggo,None,pupper,None,"Like father (doggo), like son (pupper). Both 1..."

In [42]:
### Printing correspondint text to figure out the correct stage of the dog.
list(df.text)

["Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.co/cMhq16isel",
 "At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",
 'This is Dido. She\'s playing the lead role in "Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple." 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7',
 'Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho',
 'Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze',
 "This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj",
 "This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd",
 'Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u',
 'Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll',
 "Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8",
 'This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC',
 'Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda']

In [43]:
### Manually setting correct stage of dog
tweet_archive_clean['doggo'][tweet_archive_clean.tweet_id.isin(["855851453814013952", "854010172552949760"])] = 'None'
tweet_archive_clean['doggo'][tweet_archive_clean.tweet_id.isin( \
                                                               ["817777686764523521", "808106460588765185", \
                                                              "802265048156610565", "801115127852503040", \
                                                              "785639753186217984", "781308096455073793", \
                                                              "759793422261743616", "751583847268179968", \
                                                              "741067306818797568", "733109485275860992"])] = 'None'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [44]:
### Making one column 'state' from the doggo, floofer, pupper and puppo columns
tweet_archive_clean['stage'] = tweet_archive_clean[['doggo', 'floofer', 'pupper', 'puppo']].max(axis=1)

In [45]:
### Replacing 'None' with a NaN
tweet_archive_clean['stage'].replace('None', np.nan, inplace = True)

In [46]:
### Dropping the doggo, floofer, pupper and puppo columns
tweet_archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1, inplace=True)

#### *Test*

In [47]:
### Listing dog stages and their corresponding occurences
tweet_archive_clean.stage.value_counts()

pupper     234
doggo       75
puppo       25
floofer     10
Name: stage, dtype: int64

In [48]:
### View updated structure of the dataframe
tweet_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id                 2174 non-null int64
in_reply_to_status_id    2174 non-null int64
in_reply_to_user_id      2174 non-null int64
timestamp                2174 non-null datetime64[ns]
source                   2174 non-null object
text                     2174 non-null object
expanded_urls            2117 non-null object
rating_numerator         2174 non-null int64
rating_denominator       2174 non-null int64
name                     1390 non-null object
ratings                  2174 non-null float64
stage                    344 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 220.8+ KB

#### Retweet counts and favorite counts should be part of `tweets_data_clean` table.

#### *Define*

Retrieve the `retweet_count` and `favorite_count` columns from `tweets_data_clean` table and assign those values to new columns in `tweet_archive_clean` table

#### *Code*

In [49]:
### Checking if there is any tweet in 'tweet_archive_clean' whithout correspondance in 'tweets_data_clean'
tweet_archive_clean[~tweet_archive_clean.tweet_id.isin(tweets_data_clean.tweet_id)].shape[0]

0

In [50]:
### Merging "retweet_count" and "favorite_count" columns from tweets_data_clean with twee_archive_clean dataframe
df = tweets_data_clean[["tweet_id", "retweet_count", "favorite_count"]]
df.tweet_id = df.tweet_id.astype(np.int64)
tweet_archive_clean = pd.merge(tweet_archive_clean, df, 
                      how = 'left', on = ['tweet_id'])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

#### *Test*

In [51]:
### Checking if the merged columns are present
tweet_archive_clean[["tweet_id", "source", "retweet_count", "favorite_count"]].sample(5)

                tweet_id               source  retweet_count  favorite_count
387   817056546584727552   Twitter for iPhone           1927            9517
1117  707776935007539200   Twitter for iPhone           1079            3593
443   807621403335917568   Twitter for iPhone           4288           16236
771   752568224206688256  Vine - Make a Scene           2605            6140
1632  676811746707918848   Twitter for iPhone            469            1536

In [52]:
### Looking at new structure of the dataframe
tweet_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2174 entries, 0 to 2173
Data columns (total 14 columns):
tweet_id                 2174 non-null int64
in_reply_to_status_id    2174 non-null int64
in_reply_to_user_id      2174 non-null int64
timestamp                2174 non-null datetime64[ns]
source                   2174 non-null object
text                     2174 non-null object
expanded_urls            2117 non-null object
rating_numerator         2174 non-null int64
rating_denominator       2174 non-null int64
name                     1390 non-null object
ratings                  2174 non-null float64
stage                    344 non-null object
retweet_count            2174 non-null int64
favorite_count           2174 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(5)
memory usage: 254.8+ KB

#### Breed of dogs computed based on predictions should be part of tweet_archive_clean table.

#### *Define*

Retrieve prediction columns from `img_predictions_clean` table, compute the breed of dogs, keep the confidence level of the algoritm and assign those values to new columns in `tweet_archive_clean` table. Also, add other needed columns from `img_predictions_clean` table to `img_predictions_clean` table.

#### *Code*

In [53]:
### Lists to hold dog breeds and confidence level of prediction
dog_breed = []
used_algorithm = []

### Function to select dog breeds based on confidence level of prediction alogrithm
def compute_dog_breed(img_predictions_clean):
    breed = np.nan
    algorithm = np.nan
    if img_predictions_clean['p1_dog'] == True:
        breed = img_predictions_clean['p1']
        algorithm = "algorithm_1"
        if img_predictions_clean['p2_dog'] == True:
            if img_predictions_clean['p1_conf'] < img_predictions_clean['p2_conf']:
                breed = img_predictions_clean['p2']
                algorithm = "algorithm_2"
        elif img_predictions_clean['p3_dog'] == True:
            if img_predictions_clean['p1_conf'] < img_predictions_clean['p3_conf']:
                breed = img_predictions_clean['p3']
                algorithm = "algorithm_3"
    elif img_predictions_clean['p2_dog'] == True:
        breed = img_predictions_clean['p2']
        algorithm = "algorithm_2"
        if img_predictions_clean['p3_dog'] == True:
            if img_predictions_clean['p2_conf'] < img_predictions_clean['p3_conf']:
                breed = img_predictions_clean['p3']
                algorithm = "algorithm_3"
    elif img_predictions_clean['p3_dog'] == True:
        breed = img_predictions_clean['p3']
        algorithm = "algorithm_3"
    else:
        breed = "Not a dog"
        algorithm = "algorithm_1"
    dog_breed.append(breed)
    used_algorithm.append(algorithm)

img_predictions_clean.apply(compute_dog_breed, axis=1)

### Creating new columns to hold selected breed and confidence level
img_predictions_clean['dog_breed'] = dog_breed
img_predictions_clean['used_algorithm'] = used_algorithm

In [54]:
### Checking if there is any tweet in 'tweet_archive_clean' whithout correspondance in 'tweets_data_clean'
tweet_archive_clean[~tweet_archive_clean.tweet_id.isin(img_predictions_clean.tweet_id)].shape[0]

180

In [55]:
### Check if 'dog_breed' was successfully created
list(img_predictions_clean)

['tweet_id',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'dog_breed',
 'used_algorithm']

In [56]:
### Merging needed columns from 'img_predictions_clean' with 'tweet_archive_clean' dataframe
df = img_predictions_clean[["tweet_id", "dog_breed", "used_algorithm", "p1_dog",
                            "p1_conf", "p2_dog", "p2_conf", "p3_dog", "p3_conf", "jpg_url", "img_num"]]
tweet_archive_clean = pd.merge(tweet_archive_clean, df, 
                      how = 'left', on = ['tweet_id'])

#### *Test*

In [57]:
### Some images have been predicted as 'Not a dog' by the 3 algorithms
img_predictions_clean[["tweet_id", "dog_breed", "used_algorithm", "p1_conf", "p2_conf", "p3_conf"]].sample(10)

,tweet_id,dog_breed,used_algorithm,p1_conf,p2_conf,p3_conf
782,690005060500217858,Samoyed,algorithm_1,0.270287,0.114027,0.072475
882,698710712454139905,Samoyed,algorithm_1,0.329895,0.165772,0.103596
1180,738166403467907072,keeshond,algorithm_1,0.878886,0.086659,0.021280
253,670727704916926465,Not a dog,algorithm_1,0.368562,0.309675,0.154914
361,672828477930868736,Not a dog,algorithm_1,0.118154,0.075915,0.075125
793,690735892932222976,golden_retriever,algorithm_1,0.883229,0.109635,0.002795
1534,790277117346975746,Labrador_retriever,algorithm_1,0.427742,0.190503,0.146427
1654,810254108431155201,Staffordshire_bullterrier,algorithm_1,0.292556,0.261233,0.062375
869,697616773278015490,Lhasa,algorithm_1,0.521931,0.403451,0.039912
1513,786595970293370880,Pembroke,algorithm_1,0.709512,0.287178,0.000570

In [58]:
### Checking if any row was missed while selecting dog's breed
img_predictions_clean[img_predictions_clean.dog_breed.isnull()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, dog_breed, used_algorithm]
Index: []

In [59]:
### Checking if needed columns from 'img_predictions_clean' have been successfully added to 'tweet_archive_clean'
### Also notice that some rows in 'tweet_archive_clean' have no matching IDs in 'img_predictions_clean' table
tweet_archive_clean[["tweet_id", "dog_breed", "used_algorithm", "p1_conf", "p2_conf", "p2_conf", "jpg_url", "img_num"]].sample(10)

,tweet_id,dog_breed,used_algorithm,p1_conf,p2_conf,p2_conf,jpg_url,img_num
1632,676811746707918848,Chihuahua,algorithm_1,0.440916,0.345806,0.345806,https://pbs.twimg.com/media/CWSEsO9WwAAX-fZ.jpg,1.0
2145,666407126856765440,black-and-tan_coonhound,algorithm_1,0.529139,0.244220,0.244220,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1.0
641,773308824254029826,Labrador_retriever,algorithm_2,0.572349,0.151406,0.151406,https://pbs.twimg.com/media/CrtYRMEWIAAUkCl.jpg,1.0
861,744234799360020481,Labrador_retriever,algorithm_1,0.825333,0.044681,0.044681,https://pbs.twimg.com/ext_tw_video_thumb/74423...,1.0
1089,709519240576036864,cocker_spaniel,algorithm_1,0.414982,0.225482,0.225482,https://pbs.twimg.com/media/Cdi3-f7W8AUOm9T.jpg,1.0
1945,670361874861563904,Not a dog,algorithm_1,0.974075,0.011068,0.011068,https://pbs.twimg.com/media/CU2akCQWsAIbaOV.jpg,1.0
1217,699779630832685056,malinois,algorithm_1,0.706038,0.165655,0.165655,https://pbs.twimg.com/media/CbYd3C9WEAErJ4Z.jpg,1.0
1335,690989312272396288,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,685641971164143616,Lakeland_terrier,algorithm_1,0.253839,0.213349,0.213349,https://pbs.twimg.com/media/CYPjvFqW8AAgiP2.jpg,1.0
1955,670061506722140161,Italian_greyhound,algorithm_1,0.329339,0.305294,0.305294,https://pbs.twimg.com/media/CUyJYk1WoAMPROb.jpg,1.0